# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://localhost:27017/fairtrade_supply_chain

# JWT Secret (change in production)
JWT_SECRET=my_secret_key_12345

# Blockchain
BLOCKCHAIN_RPC_URL=http://127.0.0.1:7545
CONTRACT_ADDRESS= 0x160215f58678C2A2420A620CDBFa56A2e74E5441
ADMIN_PRIVATE_KEY=0xb1dc75252b20eae91a84d93b1b425d85d8fc5aaa4e62bd0b744ba97d7faf635c

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:5175
